<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @sandbox.user_id %>
</p>

<p>
  <b>App:</b>
  <%= @sandbox.app_id %>
</p>


<%= link_to 'Edit', edit_sandbox_path(@sandbox) %> |
<%= link_to 'Back', sandboxes_path %>
