<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      <% if content_for?(:title) %>
        <%= yield(:title) %>
      <% else %>
        BundleBee
      <% end %>
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <%= favicon_link_tag %>
    
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">BundleBee</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
              <% if user_signed_in? %>
                <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>
              <% else %>
                <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "navbar-form pull-right"}) do |f| %>
                  <%= f.email_field :email, placeholder: "Email", class:"span2" %>
                  <%= f.password_field :password, placeholder: "Password", class:"span2" %>
                  <%= f.submit "Sign in", class: "btn" %>
                <% end %>
              <% end %>
            
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <p>
        <% if user_signed_in? %>
            Signed in as <%= current_user.email %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path %>
        <% end %>
      </p>
      
      <p>
        <% flash.each do |key, value| %>
          <div class='flash' id='<%= key %>'>
            <%= value %>
          </div>
        <% end %>
      </p>

      <p><%= yield %></p>

      <hr>

      <footer>
        <p>&copy; codename: BundleBee 2012</p>
      </footer>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
  </body>
</html>

